@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

* {
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.showcase {
    width: 500px;
}

.showcase-block {
    margin-bottom: 30px;
}

.search-results {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}